.skytips {
  text-decoration: underline dotted;
  white-space: nowrap;
}

.tippy-box {
  background: transparent;
}
.cardPopup {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 50vw;
  max-height: 100vh;
}
